@use '../components/buttons.scss';

.landing {
  min-height: 100svh;
  display: grid;
  place-items: center;
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: #f9fafb;

  &__center {
    width: 100%;
    max-width: 640px;
  }

  &__logo {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto 2rem;
  }
}
