<!DOCTYPE HTML>
<html lang="html" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Zarya Data: Home page of the app for data analysis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>All is well. The dawn is near...</h1>
<p>Click <a th:href="@{/status}">here</a> to see the status.</p>
<div sec:authorize="isAuthenticated()">
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <p>You are already logged in.</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
        <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
    </form>
</div>
</body>
</html>