<!DOCTYPE HTML>
<html lang="html" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Zarya Data: Logout Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Zarya Data: Logout Page</p>
<div sec:authorize="isAuthenticated()">
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <p>You are already logged in. Why are you even here?</p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
        <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
    </form>
</div>
<div sec:authorize="!isAuthenticated()">
    <p th:text="|You have been logged out!|" />
    <form th:action="@{/login/try}" method="post">
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
        <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
    </form>
</div>

</body>
</html>